@define-color theme_selected_bg_color #e62f38;
@define-color theme_selected_fg_color #ffffff;
window { color: #f7f7f7; }
button.suggested-action {
  background: #e62f38;
  color: #ffffff;
}
selection { background-color: #e62f38; }