[Desktop Entry]
Type=Application
Name=Tomato OS Desktop
Exec=/usr/local/bin/tomato-desktop-init
Terminal=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true